.category-container {
  padding-bottom: 4rem;
keep-mobile()
}
.category-container .category-name {
  margin-top: 3rem;
  margin-bottom: $component-spacing-value;
  padding-bottom: 20px;
  color: var(--text-color-2);
  text-align: center;
  font-weight: bold;
  font-size: 1.9rem;
keep-tablet()
keep-mobile()
}
.category-container .category-name i {
  color: var(--text-color-5);
  font-size: 1.2rem;
  display: none;
}
